// Color
$primary: #F08C00;
$primary-light: #F59F00;
$secondary: #74B816;
$white: #FFFFFF;
$grey: #E0E0E0;
$grey-light: #F5F5F5;
$black: #424242;

// Theme Colors
$theme-colors: (
  "primary": $primary,
  "market": $secondary,
);