<main id="home">
  <div class="container">
    <div class="row">
      <div class="owl-carousel owl-theme owl-loaded owl-drag">
        <div class="slide-card bg-primary"> Your Content </div>
        <div class="slide-card bg-primary"> Your Content </div>
        <div class="slide-card bg-primary"> Your Content </div>
        <div class="slide-card bg-primary"> Your Content </div>
        <div class="slide-card bg-primary"> Your Content </div>
        <div class="slide-card bg-primary"> Your Content </div>
        <div class="slide-card bg-primary"> Your Content </div>
      </div>
    </div>
  </div>
</main>