// Color
$primary: #42977b;
$primary-light: #50a589;
$secondary: #bd903d;
$white: #FFFFFF;
$grey: #E0E0E0;
$grey-light: #F5F5F5;
$black: #424242;

// Theme Colors
$theme-colors: (
  "primary": $primary,
  "market": $secondary,
);