
.header {
  box-shadow: 0px 3px 10px rgba(74, 74, 74, 0.05);

  .header-search {
    .search-form {
      position: relative;
      .search-input {
        padding-right: 2rem;
      }
      .search-button {
        position: absolute;
        top: 50%;
        right: .75rem;
        transform: translateY(-50%);
        border: none;
        background: transparent;
      }
    }
  }
}