.home-page {
  .hero {
    background-color: $grey;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .slide-item {
      height: 380px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: pink;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .app-menu {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .menu-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .menu-item {
        text-align: center;
        text-decoration: none;
        .menu-item-content {
          background: $grey;
        }
      }
    }
  }
}